@media(min-width: 501px){
	* {margin:-0; padding:0}
	body {font:12px Verdana,Arial; color:#555; background:#222 url(images/bg.jpg) 50% 0 no-repeat}
	p {line-height:1.4; margin-bottom:12px}
	#wrapper {width:1100px; margin:75px auto}

	.sliderbutton {float:left; width:32px; padding-top:250px}
	.sliderbutton img {cursor:pointer}
	.sliderbutton img:hover {background:#666}
	#slider {float:left; position:relative; overflow:auto; width:1020px; height:500px; border:2px solid #fff; background:#fff; margin-left: 10px;}
	#slider ul {position:absolute; list-style:none; top:0; left:0}
	#slider li {float:left; width:1020px; height:500px; padding-right:10px; line-height: 10%}

	.pagination {float:left; list-style:none; height:25px; margin:15px 0 0 32px}
	.pagination li {float:left; cursor:pointer; padding:5px 8px; background:#666; border:1px solid #999; margin:0 4px 0 0; text-align:center; color:#222}
	.pagination li:hover {background:#777; border:1px solid #bbb; color:#000}
	li.current {border:1px solid #ccc; background:#888}

	li.content {width:1020px; height:500px; padding:10px 28px 15px 18px}
	.content h1 {font:22px Georgia,Verdana; margin-bottom:15px; color:#036}
}


@media(max-width: 500px){
	* {margin:0; padding:0}
	body {font:12px Verdana,Arial; color:#555; background:#222 url(images/bg.jpg) 50% 0 no-repeat}
	p {line-height:1.4; margin-bottom:12px}
	#wrapper {width:320px; margin:50px auto; margin-left: 22px;}

	.sliderbutton {float:left; width:32px; padding-top:125px}
	.sliderbutton img {cursor:pointer}
	.sliderbutton img:hover {background:#666}
	#slider {float:left; position:relative; overflow:auto; width:250px; height:250px; border:2px solid #fff; background:#fff; margin-left: -10px;}
	#slider ul {position:absolute; list-style:none; top:0; left:0}
	#slider li {float:left; width:250px; height:250px; padding-right:10px}

	.pagination {float:left; list-style:none; height:25px; margin:15px 0 0 32px;}
	.pagination li {float:left; cursor:pointer; padding:5px 8px; background:#666; border:1px solid #999; margin:0 4px 0 0; text-align:center; color:#222}
	.pagination li:hover {background:#777; border:1px solid #bbb; color:#000}
	li.current {border:1px solid #ccc; background:#888}

	li.content {width:250px; height:250px; }
	.content h1 {font:22px Georgia,Verdana; margin-bottom:15px; color:#036}
}
